<!DOCTYPE html>
<html>


<h1> MOVIES </h1>



    <ul>

      <% @results.each do |movie| %>
        <li>
          <a href="/movies/<%="#{movie["id"]}"%>"> <%="#{movie["title"]}"%> </a>
          - <%="#{movie["year"]}"%> - <%="#{movie["rating"]}"%> - <%="#{movie["genre"]}"%>
          - <%="#{movie["studio"]}"%>
        </li>
      <% end %>
    </ul>

</html>
